@import "tailwindcss";

@theme {
  --color-primary: #5e5e5e;
  --color-primary-foreground: #ffffff;
  --color-secondary: #848586;
  --color-button: #792323;
  --color-button-primary: #42a52a;
  --color-button-error: #d42a2a;
  --font-primary: 'Segoe UI', 'Montserrat', sans-serif;
  --font-heading: 'Bebas Neue', 'Oswald', sans-serif;
}

body {
  @apply min-h-screen bg-primary text-primary-foreground font-primary;
}
